.map-responsive{
    grid-column: 2/6;
    grid-row: 1/4;
    overflow: hidden;
    margin-right: 20%;
    max-width: 1000px;
}

html{
    scroll-behavior: smooth;
}


.formu{
    display: grid;
    grid-template-columns: 6;
    margin-left: 21%;
    grid-template-rows: 4;
    grid-row: 1/4;
}

h4{
    display: grid;
    grid-column: 1;
}

h2{
    grid-column: 1;
}

.formm{
    display: block;
}

form{
    grid-column: 1;
}

#submit{
    width: 74%;
    background: rgba(0, 0, 0, 0.552);
}

body{
    margin: 0%;
}

textarea:valid{
    background-color: rgba(101, 250, 101, 0.51);
}

input:valid{
    background-color: rgba(101, 250, 101, 0.51);
}


input:invalid{
    border-color: #900;
    background-color: #FDD;
}

input:focus:invalid {
    outline: none;
}

.error {
    width : 100%;
    padding: 0;
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
}

.error.active {
    padding: 0.3em;
}

@media screen and (max-width: 600px) {
    .map-responsive{
        grid-column: 1/6;
        grid-row: 2/4;
        overflow: hidden;
        margin-right: 20%;
        max-width: 1000px;
        height: 60%;
    }
    .formm{
        margin-bottom: 20px;
    }
    .formu{
        margin-left: 18%;
    }
}

@media screen and (max-width: 768px){
    .map-responsive{
        grid-column: 1/6;
        grid-row: 2/4;
        overflow: hidden;
        margin-right: 20%;
        max-width: 1000px;
    }
    .formm{
        margin-bottom: 20px;
    }
}

.container{
    margin: 20px auto;
    width: 100%;
}

.container *{
    margin-top: 25px;
}

.container .button{
    text-decoration: none;
    font-weight: bold;
    background-color: #e73838;
    border: 1px solid #e42e2e;
    padding: 6px;
    color: #efefef;
}

.card-containers{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    background-color: rgb(92, 24, 24);
    width: 100%;
}

.card{
    width: 25%;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
    background-color: rgba(204, 204, 204,0.2);
    margin: 15px auto;
    color: #efefef;
}

.card .img-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .img-container img{
    width: 100%;
}

.card .card-body{
    margin-bottom: 15px;
}