tr:nth-child(even){
    background-color: #353232;
}

tr:nth-child(odd){
    background-color: #202324;
}

table{
    width: 50vw;
    color: #e8e6e3;
    margin: 0% auto;
    padding: 0%;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
}

*{
    font-family: 'Oswald', sans-serif;
}

html{
    scroll-behavior: smooth;
}


#ea{
    text-align: left;
    text-indent: initial;
    padding-left: 10vw auto !important;
    display: table;
    vertical-align: baseline;
}

.aa{
    width: 50vw;
    margin: 0% auto;
    text-align: left;
    text-indent: initial;
    display: table;
    vertical-align: baseline;
}

#mvp-content-main td, #mvp-content-main th {
    padding: 5px 1.5%;
}
.sp-data-table .data-name {
    text-align: left;
}
td {
    display: table-cell;
    vertical-align: inherit;
}
#mvp-content-main table {
    font-size: .9rem;
    width: 100%;
}
.sp-data-table {
    width: 100%;
    table-layout: auto;
    border-spacing: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.theiaPostSlider_slides {
    list-style-image: initial;
}
.theiaPostSlider_slides {
    position: relative;
    clear: both;
    overflow: hidden;
}

.team-logo{
    text-align: center;
}

.ee{
    text-align: center;
}

img{
    height: 40px;
}

#logoimg{
    height: auto;
}